*{
    margin: 0;
    padding: 0;
    text-decoration: none;
.header{
    padding-bottom: 5px;
}

.sub-body{
    text-align: center;
    align-content: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: beige;
    
}
.sub-body .sub-container{
    padding-left: 200px;
    padding-right: 200px;
    text-align: left;
    /* text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px; */

}